@import "font"

* {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

configuration {
  drun {
    display-name: " Apps ";
  }
  run {
    display-name: " Run ";
  }
  window {
    display-name: " Window ";
  }
}

inputbar {
  children: [prompt, entry];
}

prompt {
  padding: 10px;
  text-color: @fg0;
}
