// App drawer theme
@import "~/.config/rofi/config/general"

* {
  orange: #ff9944;
  text-color: @orange;
}

window {
  fullscreen: true;
  background-color: rgba(20, 20, 20, 0.9);
}

mainbox {
  padding: 10%;
}

inputbar {
  background-color: rgba(32,32,32,0.85);
  border: 0 0 0 2px;
  border-color: @orange;
  border-radius: 5px;
  margin: 0 30%;
  padding: 0.5em;
  text-color: white;
}

entry {
  placeholder: "Search:";
  placeholder-color: rgba(255,255,255,0.5);
}

listview {
  columns: 1;
  scrollbar: false;
  padding: 20px 25%;
}

element {
  border-radius: 5px;
  padding: 0.5em;
  children: [element-icon, element-text];
}

element-icon {
  size: 1.2em;
  vertical-align: 0.5;
  margin: 0 10px;
}

element selected {
  border: 2px;
  border-color: @orange;
  background-color: rgba(32,32,32,0.85);
}
