// hidrot theme - niri colors
* {
  bg0: #141414;
  bg1: #202020;
  bg2: #303030;
  fg0: #e6e9ef;
  fg1: #b0b0b0;
  orange: #df6124;
  orange-trans: #df612425;
}

window {
  background-color: @bg0;
  border: 2px;
  border-color: @orange;
  border-radius: 6px;
  padding: 6px;
}

mainbox {
  children: [inputbar, listview];
}

inputbar {
  background-color: @bg1;
  border: 0 0 0 2px;
  border-color: @orange;
  border-radius: 6px;
  margin: 0 0 6px 0;
}

entry {
  padding: 10px;
  text-color: @orange;
  placeholder-color: @fg1;
}

listview {
  lines: 10;
}

element {
  border: 0 0 0 2px;
  border-radius: 6px;
  padding: 10px;
  background-color: transparent;
}

element selected {
  background-color: @orange-trans;
  border-color: @orange;
}

element-text {
  text-color: @fg0;
  background-color: transparent;
}

element-text selected {
  text-color: @orange;
  background-color: transparent;
}
